# NOTE: This file is auto generated by OpenAPI Generator 7.3.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Weaviate.Api.Batch do
  @moduledoc """
  API calls for all endpoints tagged `Batch`.
  """

  alias Weaviate.Connection
  import Weaviate.RequestBuilder

  @doc """
  Creates new Objects based on a Object template as a batch.
  Register new Objects in bulk. Provided meta-data and schema values are validated.

  ### Parameters

  - `connection` (Weaviate.Connection): Connection to server
  - `body` (BatchObjectsCreateRequest): 
  - `opts` (keyword): Optional parameters
    - `:consistency_level` (String.t): Determines how many replicas must acknowledge a request before it is considered successful

  ### Returns

  - `{:ok, [%ObjectsGetResponse{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec batch_objects_create(Tesla.Env.client, Weaviate.Model.BatchObjectsCreateRequest.t, keyword()) :: {:ok, nil} | {:ok, list(Weaviate.Model.ObjectsGetResponse.t)} | {:ok, Weaviate.Model.ErrorResponse.t} | {:error, Tesla.Env.t}
  def batch_objects_create(connection, body, opts \\ []) do
    optional_params = %{
      :consistency_level => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/batch/objects")
      |> add_param(:body, :body, body)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Weaviate.Model.ObjectsGetResponse},
      {400, Weaviate.Model.ErrorResponse},
      {401, false},
      {403, Weaviate.Model.ErrorResponse},
      {422, Weaviate.Model.ErrorResponse},
      {500, Weaviate.Model.ErrorResponse}
    ])
  end

  @doc """
  Deletes Objects based on a match filter as a batch.
  Delete Objects in bulk that match a certain filter.

  ### Parameters

  - `connection` (Weaviate.Connection): Connection to server
  - `body` (BatchDelete): 
  - `opts` (keyword): Optional parameters
    - `:consistency_level` (String.t): Determines how many replicas must acknowledge a request before it is considered successful
    - `:tenant` (String.t): Specifies the tenant in a request targeting a multi-tenant class

  ### Returns

  - `{:ok, Weaviate.Model.BatchDeleteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec batch_objects_delete(Tesla.Env.client, Weaviate.Model.BatchDelete.t, keyword()) :: {:ok, nil} | {:ok, Weaviate.Model.ErrorResponse.t} | {:ok, Weaviate.Model.BatchDeleteResponse.t} | {:error, Tesla.Env.t}
  def batch_objects_delete(connection, body, opts \\ []) do
    optional_params = %{
      :consistency_level => :query,
      :tenant => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/batch/objects")
      |> add_param(:body, :body, body)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Weaviate.Model.BatchDeleteResponse},
      {400, Weaviate.Model.ErrorResponse},
      {401, false},
      {403, Weaviate.Model.ErrorResponse},
      {422, Weaviate.Model.ErrorResponse},
      {500, Weaviate.Model.ErrorResponse}
    ])
  end

  @doc """
  Creates new Cross-References between arbitrary classes in bulk.
  Register cross-references between any class items (objects or objects) in bulk.

  ### Parameters

  - `connection` (Weaviate.Connection): Connection to server
  - `body` ([Weaviate.Model.BatchReference.t]): A list of references to be batched. The ideal size depends on the used database connector. Please see the documentation of the used connector for help
  - `opts` (keyword): Optional parameters
    - `:consistency_level` (String.t): Determines how many replicas must acknowledge a request before it is considered successful

  ### Returns

  - `{:ok, [%BatchReferenceResponse{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec batch_references_create(Tesla.Env.client, list(Weaviate.Model.BatchReference.t), keyword()) :: {:ok, nil} | {:ok, list(Weaviate.Model.BatchReferenceResponse.t)} | {:ok, Weaviate.Model.ErrorResponse.t} | {:error, Tesla.Env.t}
  def batch_references_create(connection, body, opts \\ []) do
    optional_params = %{
      :consistency_level => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/batch/references")
      |> add_param(:body, :body, body)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Weaviate.Model.BatchReferenceResponse},
      {400, Weaviate.Model.ErrorResponse},
      {401, false},
      {403, Weaviate.Model.ErrorResponse},
      {422, Weaviate.Model.ErrorResponse},
      {500, Weaviate.Model.ErrorResponse}
    ])
  end
end
